[submodule "modules/erc20"]
	path = modules/erc20
	url = git@github.com:maple-labs/erc20.git
[submodule "modules/erc20-helper"]
	path = modules/erc20-helper
	url = git@github.com:maple-labs/erc20-helper.git
[submodule "modules/forge-std"]
	path = modules/forge-std
	url = git@github.com:foundry-rs/forge-std.git
[submodule "modules/open-zeppelin"]
	path = modules/open-zeppelin
	url = git@github.com:OpenZeppelin/openzeppelin-contracts.git
[submodule "modules/xmpl"]
	path = modules/xmpl
	url = git@github.com:maple-labs/xMPL.git
